# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [2]:
# stocks = pd.read_csv('./etf-holdings.csv') #shariah compliant
# stocks.rename(columns={'StockTicker':'Ticker'}, errors='raise', inplace=True)

stocks = pd.read_csv('./constituents_csv.csv')
stocks.rename(columns={'Symbol': 'Ticker'}, errors='raise', inplace=True)

try:
    print(f'initial length {len(stocks)}')
    delisted_tickers = ['VIAC', 'WLTW', 'DISCA']
    delisted = stocks[stocks['Ticker'].isin(delisted_tickers)]
    stocks.drop(labels=delisted.index, inplace=True)
except KeyError as e:
    print(e)
finally:
    print(f'updated length {len(stocks)}')
    stocks

initial length 505
updated length 502

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [3]:
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [4]:
symbol='AAPL'
api_endpoint = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_endpoint).json()

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [5]:
price = data['latestPrice']
market_cap = data['marketCap']
print(price)
print(market_cap)

176.68
2961556539260

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [6]:
my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
df1 = pd.DataFrame(columns=my_columns)
df1

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [7]:
# Notice importance of ignore_index attribute in the next cell
pd.concat([df1,pd.Series([
    symbol,
    price,
    market_cap,
    'N/A'
], index=my_columns).to_frame().T])

  Ticker Stock Price Market Capitalization Number of Shares to Buy
0   AAPL      176.68         2961556539260                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [8]:
for stock in stocks['Ticker'][:5]:
    api_endpoint = f'https://sandbox.iexapis.com/stable/stock/{stock}/quote?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_endpoint).json()
    df1 = pd.concat([df1,pd.Series([
        stock,
        data['latestPrice'],
        data['marketCap'],
        "N/A"
        ], index=my_columns).to_frame().T], ignore_index=True)

df1

  Ticker Stock Price Market Capitalization Number of Shares to Buy
0    MMM      153.73           88072002526                     N/A
1    AOS      65.513           10895020970                     N/A
2    ABT       124.2          211226806349                     N/A
3   ABBV     171.142          301170590493                     N/A
4   ABMD     334.971           15278382266                     N/A

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [9]:
# split tickers into sub-lists of length 100
def chunks(lst, n):
    for i in range(0, len(lst), n):
        # print(f'{i} --> {i+n}')
        yield lst[i:i+n]

ticker_grps = list(chunks(stocks['Ticker'], 100))
len(ticker_grps)

6

In [10]:
ticker_str = []
for i in range(0, len(ticker_grps)):
    ticker_str.append(','.join(ticker_grps[i]))

ticker_str

['MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADM,ADBE,AAP,AMD,AES,AFL,A,APD,AKAM,ALK,ALB,ARE,ALGN,ALLE,LNT,ALL,GOOGL,GOOG,MO,AMZN,AMCR,AEE,AAL,AEP,AXP,AIG,AMT,AWK,AMP,ABC,AME,AMGN,APH,ADI,ANSS,ANTM,AON,APA,AAPL,AMAT,APTV,ANET,AJG,AIZ,T,ATO,ADSK,ADP,AZO,AVB,AVY,BKR,BLL,BAC,BBWI,BAX,BDX,BRK.B,BBY,BIO,TECH,BIIB,BLK,BK,BA,BKNG,BWA,BXP,BSX,BMY,AVGO,BR,BRO,BF.B,CHRW,CDNS,CZR,CPB,COF,CAH,KMX,CCL,CARR,CTLT,CAT,CBOE,CBRE,CDW,CE,CNC,CNP,CDAY,CERN',
 'CF,CRL,SCHW,CHTR,CVX,CMG,CB,CHD,CI,CINF,CTAS,CSCO,C,CFG,CTXS,CLX,CME,CMS,KO,CTSH,CL,CMCSA,CMA,CAG,COP,ED,STZ,CPRT,GLW,CTVA,COST,CTRA,CCI,CSX,CMI,CVS,DHI,DHR,DRI,DVA,DE,DAL,XRAY,DVN,DXCM,FANG,DLR,DFS,DISCK,DISH,DG,DLTR,D,DPZ,DOV,DOW,DTE,DUK,DRE,DD,DXC,EMN,ETN,EBAY,ECL,EIX,EW,EA,LLY,EMR,ENPH,ETR,EOG,EFX,EQIX,EQR,ESS,EL,ETSY,RE,EVRG,ES,EXC,EXPE,EXPD,EXR,XOM,FFIV,FB,FAST,FRT,FDX,FIS,FITB,FRC,FE,FISV,FLT,FMC,F',
 'FTNT,FTV,FBHS,FOXA,FOX,BEN,FCX,GPS,GRMN,IT,GNRC,GD,GE,GIS,GM,GPC,GILD,GPN,GL,GS,HAL,HBI,HAS,HCA,PEAK,HSIC,HES,HPE,HLT,HOLX,HD,HON,HRL,HST,HWM,HPQ,HUM,HBAN,HII,IBM,IEX,IDXX,INFO,ITW,ILMN,INCY,IR,INTC,ICE,IFF,IP,IPG,INTU,ISRG,IVZ,IPGP,IQV,IRM,JBHT,JKHY,J,SJM,JNJ,JCI,JPM,JNPR,KSU,K,KEY,KEYS,KMB,KIM,KMI,KLAC,KHC,KR,LHX,LH,LRCX,LW,LVS,LEG,LDOS,LEN,LNC,LIN,LYV,LKQ,LMT,L,LOW,LUMN,LYB,MTB,MRO,MPC,MKTX,MAR,MMC,MLM',
 'MAS,MA,MTCH,MKC,MCD,MCK,MDT,MRK,MET,MTD,MGM,MCHP,MU,MSFT,MAA,MRNA,MHK,TAP,MDLZ,MPWR,MNST,MCO,MS,MSI,MSCI,NDAQ,NTAP,NFLX,NWL,NEM,NWSA,NWS,NEE,NLSN,NKE,NI,NSC,NTRS,NOC,NLOK,NCLH,NRG,NUE,NVDA,NVR,NXPI,ORLY,OXY,ODFL,OMC,OKE,ORCL,OGN,OTIS,PCAR,PKG,PH,PAYX,PAYC,PYPL,PENN,PNR,PBCT,PEP,PKI,PFE,PM,PSX,PNW,PXD,PNC,POOL,PPG,PPL,PFG,PG,PGR,PLD,PRU,PTC,PEG,PSA,PHM,PVH,QRVO,QCOM,PWR,DGX,RL,RJF,RTX,O,REG,REGN,RF,RSG,RMD,RHI,ROK,ROL',
 'ROP,ROST,RCL,SPGI,CRM,SBAC,SLB,STX,SEE,SRE,NOW,SHW,SPG,SWKS,SNA,SO,LUV,SWK,SBUX,STT,STE,SYK,SIVB,SYF,SNPS,SYY,TMUS,TROW,TTWO,TPR,TGT,TEL,TDY,TFX,TER,TSLA,TXN,TXT,COO,HIG,HSY,MOS,TRV,DIS,TMO,TJX,TSCO,TT,TDG,TRMB,TFC,TWTR,TYL,TSN,USB,UDR,ULTA,UAA,UA,UNP,UAL,UPS,URI,UNH,UHS,VLO,VTR,VRSN,VRSK,VZ,VRTX,VFC,VTRS,V,VNO,VMC,WRB,GWW,WAB,WBA,WMT,WM,WAT,WEC,WFC,WELL,WST,WDC,WU,WRK,WY,WHR,WMB,WYNN,XEL,XLNX,XYL,YUM,ZBRA,ZBH',
 'ZION,ZTS']

In [11]:
ticker_str[0]

'MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADM,ADBE,AAP,AMD,AES,AFL,A,APD,AKAM,ALK,ALB,ARE,ALGN,ALLE,LNT,ALL,GOOGL,GOOG,MO,AMZN,AMCR,AEE,AAL,AEP,AXP,AIG,AMT,AWK,AMP,ABC,AME,AMGN,APH,ADI,ANSS,ANTM,AON,APA,AAPL,AMAT,APTV,ANET,AJG,AIZ,T,ATO,ADSK,ADP,AZO,AVB,AVY,BKR,BLL,BAC,BBWI,BAX,BDX,BRK.B,BBY,BIO,TECH,BIIB,BLK,BK,BA,BKNG,BWA,BXP,BSX,BMY,AVGO,BR,BRO,BF.B,CHRW,CDNS,CZR,CPB,COF,CAH,KMX,CCL,CARR,CTLT,CAT,CBOE,CBRE,CDW,CE,CNC,CNP,CDAY,CERN'

In [12]:
from pprint import pprint

my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
df = pd.DataFrame(columns=my_columns)

for tickers in ticker_str:
    batchendpoint = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={tickers}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batchendpoint).json()
    # print(tickers)
    
    for ticker in tickers.split(','):
        # pprint(ticker)
        df = pd.concat([df,pd.Series([
            ticker,
            data[ticker]['quote']['latestPrice'],
            data[ticker]['quote']['marketCap'],
            "N/A"
            ], index=my_columns).to_frame().T], ignore_index=True)

df

    Ticker Stock Price Market Capitalization Number of Shares to Buy
0      MMM      153.75           87843797439                     N/A
1      AOS      68.603           11062571759                     N/A
2      ABT      122.25          221033409443                     N/A
3     ABBV      169.86          303054036280                     N/A
4     ABMD      325.35           15002894379                     N/A
..     ...         ...                   ...                     ...
497    YUM      118.09           35645446574                     N/A
498   ZBRA     444.656           23195637332                     N/A
499    ZBH      134.63           27477475403                     N/A
500   ZION       67.47           10142813058                     N/A
501    ZTS      189.08           91419046976                     N/A

[502 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [13]:
portfolio_size = input('Please Enter value of your portfolio in $')

try:
    val = float(portfolio_size)
except ValueError as e:
    print(e)
    portfolio_size = input('Please Enter value of your portfolio in $')
    val = float(portfolio_size)

In [14]:
portfolio_size = val/len(df.index)
print(portfolio_size)

19920.3187250996

In [15]:
for i in range(0, len(df.index)):
    df.loc[i,'Number of Shares to Buy'] = math.floor(portfolio_size/df.loc[i,'Stock Price'])
df

    Ticker Stock Price Market Capitalization Number of Shares to Buy
0      MMM      153.75           87843797439                     129
1      AOS      68.603           11062571759                     290
2      ABT      122.25          221033409443                     162
3     ABBV      169.86          303054036280                     117
4     ABMD      325.35           15002894379                      61
..     ...         ...                   ...                     ...
497    YUM      118.09           35645446574                     168
498   ZBRA     444.656           23195637332                      44
499    ZBH      134.63           27477475403                     147
500   ZION       67.47           10142813058                     295
501    ZTS      189.08           91419046976                     105

[502 rows x 4 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

In [20]:
writer = pd.ExcelWriter('Recommended_trades.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='suggested trades', index=False)

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

In [22]:
bg_color = '0a0a23'
font_color = 'ffffff'

string_format = writer.book.add_format({
    'font_color': font_color,
    'bg_color': bg_color,
    'border': 1,
})

dollar_format = writer.book.add_format({
    'num_format':'$0.00',
    'font_color': font_color,
    'bg_color': bg_color,
    'border': 1,
})

integer_format = writer.book.add_format({
    'num_format':'0',
    'font_color': font_color,
    'bg_color': bg_color,
    'border': 1,
})

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

In [23]:
writer.sheets['suggested trades'].write('A1', 'Ticker', string_format)
writer.sheets['suggested trades'].set_column('A:A', 18, string_format)
writer.save()

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

In [ ]:
column_formats = {
    'A':['Ticker', string_format],
    'B':['Stock Price', dollar_format],
    'C':['Market Capitalization', dollar_format],
    'D':['Number of Shares to Buy', integer_format],
}

for column in column_formats.keys():
    writer.sheets['suggested trades'].set_column(f'{column}:{column}', 18, column_formats[column][1])

writer.save()

## Saving Our Excel Output

Saving our Excel file is very easy: